<div class="page-header"><h1><%= gt.gettext("Audio") %></h1></div>

<p class="important"><%= gt.gettext("Cette page permet de gérer la partie audio de recalbox.") %></p>

<form method="post" action="/audio" data-form="add-hidden">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gt.gettext("Musique de fond") %></h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <span class="sr-only"><%= gt.gettext("Attention :") %></span>
        <%= gt.gettext("Cette modification nécessite de redémarrer EmulationStation pour être prise en compte.") %>
      </div>

      <input type="hidden" name="audio.bgmusic" value="0" />
      <input type="checkbox" name="audio.bgmusic" value="1" data-switch<% if (1 == audio.bgmusic) { %> checked="checked"<% } %> />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gt.gettext("Volume du son") %></h3>
    </div>
    <div class="panel-body top40">
      <input type="text" name="audio.volume" value="<%= audio.volume %>" class="slider" data-slider data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= audio.volume %>" />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gt.gettext("Sortie audio") %></h3>
    </div>
    <div class="panel-body">
      <select name="audio.device" data-select>
      <% devices.forEach(function (item) { %>
        <option value="<%= item.key %>"<% if (audio.device == item.key) { %> selected="selected"<% } %>>
          <%= item.value %>
        </option>
      <% }); %>
      </select>
    </div>
  </div>

  <p>
    <a href="/audio" class="btn btn-danger"><%= gt.gettext("Annuler") %></a>
    <button type="submit" class="btn btn-success"><%= gt.gettext("Enregistrer") %></button>
  </p>
</form>
