<h1><%= __("Audio") %></h1>

<p class="important"><%= __("Cette page permet de gérer la partie audio de recalbox.") %></p>

<form method="post" action="/audio">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Musique de fond") %></h3>
    </div>
    <div class="panel-body">
      <p class=""><%= __("Cette modification nécessite de redémarrer EmulationStation.") %></p>

      <input type="hidden" name="bgmusic" value="0" />
      <input type="checkbox" name="bgmusic" value="1" data-switch<% if (1 == audio.bgmusic) { %> checked="checked"<% } %> />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Volume du son") %></h3>
    </div>
    <div class="panel-body top40">
      <input type="text" name="volume" value="<%= audio.volume %>" class="slider" data-slider data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="<%= audio.volume %>" />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Sortie audio") %></h3>
    </div>
    <div class="panel-body">
      <select name="device" data-select>
      <% devices.forEach(function (item) { %>
        <option value="<%= item.key %>"<% if (audio.device == item.key) { %> selected="selected"<% } %>>
          <%= item.value %>
        </option>
      <% }); %>
      </select>
    </div>
  </div>

  <p>
    <a href="/audio" class="btn btn-danger"><%= __("Annuler") %></a>
    <button type="submit" class="btn btn-success"><%= __("Enregistrer") %></button>
  </p>
</form>
