<div class="page-header"><h1><%= __("Configuration") %></h1></div>

<p class="important"><%= __("Cette page permet de gérer différentes configurations de recalbox tel que les paramètres Wi-Fi, la timezone, la locale, etc.") %></p>

<form method="post" action="/configuration" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Options système") %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="system-language" class="col-md-4 control-label"><%= __("Langue du système") %></label>
        <div class="col-md-6">
          <select name="system.language" id="system-language" class="selectpicker show-tick form-control" data-select data-live-search="true">
          <% systemlocales.forEach(function (item) { %>
            <option value="<%= item.key %>"<% if (system.language == item.key) { %> selected="selected"<% } %>>
              <%= item.value %>
            </option>
          <% }); %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="keyboardlayout" class="col-md-4 control-label"><%= __("Layout du clavier") %></label>
        <div class="col-md-6">
          <select name="system.kblayout" id="keyboardlayout" class="selectpicker show-tick form-control" data-select data-live-search="true">
          <% keyboardlayouts.forEach(function (item) { %>
            <option value="<%= item.key %>"<% if (system.kblayout == item.key) { %> selected="selected"<% } %>>
              <%= item.value %>
            </option>
          <% }); %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="timezone" class="col-md-4 control-label"><%= __("Timezone") %></label>
        <div class="col-md-6">
          <select name="system.timezone" id="timezone" class="selectpicker show-tick form-control" data-select data-live-search="true">
          <% timezones.forEach(function (timezone) { %>
            <option value="<%= timezone %>"<% if (system.timezone == timezone) { %> selected="selected"<% } %>>
              <%= timezone %>
            </option>
          <% }); %>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Options réseau") %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="hostname" class="col-md-4 control-label"><%= __("Nom d'hôte") %></label>
        <div class="col-md-6">
          <input type="text" name="system.hostname" id="hostname" class="form-control" placeholder="<%= __('Nom d\'hôte') %>" value="<%= system.hostname %>">
        </div>
      </div>
      <div class="form-group">
        <label for="wifi-enabled" class="col-md-4 control-label"><%= __("Activer le wifi") %></label>
        <div class="col-md-6">
          <input type="hidden" name="wifi.enabled" value="0">
          <input type="checkbox" name="wifi.enabled" value="1" id="wifi-enabled" data-switch<% if (1 == wifi.enabled) { %> checked="checked"<% } %>>
        </div>
      </div>

      <div class="well">
        <div class="alert alert-warning" role="alert">
          <%= __("Attention, si vous vous trompez dans vos informations vous risquez de ne plus pouvoir accéder à votre recalbox par le wifi.") %>
        </div>

        <div class="form-group">
          <label for="wifi-ssid" class="col-md-4 control-label"><%= __("SSID") %></label>
          <div class="col-md-6">
            <input type="text" name="wifi.ssid" class="form-control" id="wifi-ssid" placeholder="<%= __('SSID') %>" value="<%= wifi.ssid %>">
          </div>
        </div>
        <div class="form-group">
          <label for="wifi-key" class="col-md-4 control-label"><%= __("Clé") %></label>
          <div class="col-md-6">
            <input type="text" name="wifi.key" class="form-control" id="wifi-key" placeholder="<%= __('Clé') %>" value="<%= wifi.key %>">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Options Kodi") %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="kodi-enabled" class="col-md-4 control-label"><%= __("Activer Kodi") %></label>
        <div class="col-md-6">
          <input type="hidden" name="kodi.enabled" value="0">
          <input type="checkbox" name="kodi.enabled" value="1" id="kodi-enabled" data-switch<% if (1 == kodi.enabled) { %> checked="checked"<% } %>>
        </div>
      </div>
      <div class="form-group">
        <label for="kodi-atstartup" class="col-md-4 control-label"><%= __("Lancer Kodi au démarrage") %></label>
        <div class="col-md-6">
          <input type="hidden" name="kodi.atstartup" value="0">
          <input type="checkbox" name="kodi.atstartup" value="1" id="kodi-atstartup" data-switch<% if (1 == kodi.atstartup) { %> checked="checked"<% } %>>
        </div>
      </div>
      <div class="form-group">
        <label for="kodi-xbutton" class="col-md-4 control-label"><%- __("Lancer Kodi via la touche %s", "<kbd>X</kbd>") %></label>
        <div class="col-md-6">
          <input type="hidden" name="kodi.xbutton" value="0">
          <input type="checkbox" name="kodi.xbutton" value="1" id="kodi-xbutton" data-switch<% if (1 == kodi.xbutton) { %> checked="checked"<% } %>>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Mises à jour") %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="updates-enabled" class="col-md-7 control-label"><%= __("Vérifier les mises à jours au démarrage du système") %></label>
        <div class="col-md-3">
          <input type="hidden" name="updates.enabled" value="0">
          <input type="checkbox" name="updates.enabled" value="1" id="updates-enabled" data-switch<% if (1 == updates.enabled) { %> checked="checked"<% } %>>
        </div>
      </div>
      <div class="form-group">
        <label for="update-type" class="col-md-7 control-label"><%= __("Type de version") %></label>
        <div class="col-md-3">
          <select name="updates.type" id="updates-type" class="selectpicker show-tick form-control" data-select data-live-search="true">
          <% updatesTypes.forEach(function (item) { %>
            <option value="<%= item.key %>"<% if (updates.type == item.key) { %> selected="selected"<% } %>>
              <%= item.value %>
            </option>
          <% }); %>
          </select>
        </div>
      </div>
    </div>
  </div>

  <p>
    <a href="/configuration" class="btn btn-danger"><%= __("Annuler") %></a>
    <button type="submit" class="btn btn-success"><%= __("Enregistrer") %></button>
  </p>
</form>
