<div class="page-header"><h1><%= gt.gettext("Logs") %></h1></div>

<form method="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gt.gettext("Fichiers de logs") %></h3>
    </div>
    <div class="panel-body">
      <select name="log_path" data-select>
        <option value=""><%= gt.gettext("Choisissez") %></option>
      <% logs.forEach(function (logPath) { %>
        <option value="<%= logPath %>"<% if (typeof currentLog !== 'undefined' && currentLog.path === logPath) { %> selected="selected"<% } %>>
          <%= logPath %>
        </option>
      <% }); %>
      </select>
    </div>
  </div>

  <p>
    <button type="submit" class="btn btn-success"><%= gt.gettext("Voir") %></button>
  </p>
</form>

<% if (typeof currentLog !== 'undefined') { %>
<p class="bg-info"><%= gt.gettext("Fichier en cours de visualisation :") %> <strong><%= currentLog.path %></strong></p>

<textarea class="form-control" rows="25"><%= currentLog.content %></textarea>
<% } %>
