<h1>Monitoring</h1>

<h2>Proceseur</h2>
<div class="row">
<% cpus.forEach(function (cpu, index) { %>
  <div class="col-md-6">
    <p>Coeur <%= ++index %></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= cpu.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= cpu.percent %>%; min-width: 2em;">
        <%= cpu.percent %>%
      </div>
    </div>
  </div>
<% }); %>
</div>

<h2>Mémoire</h2>
<div class="row">
  <div class="col-md-3">
    <p>Libre: <%= ram.used %> MB</p>
  </div>
  <div class="col-md-6">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= ram.used %>" aria-valuemin="0" aria-valuemax="<%= ram.total %>" style="width: <%= ram.used_percent %>%; min-width: 2em;">
        <%= ram.used_percent %>%
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <p>Total: <%= ram.total %> MB</p>
  </div>
</div>

<h2>Température CPU</h2>
<div class="clearfix">
  <div class="c100 p<%= temperature.current_percent %> <%= temperature.color %>">
    <span title="<%= temperature.current %>°c / <%= temperature.max %>°c"><%= temperature.current %>°c</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
</div>

<h2>Systèmes de fichiers</h2>
<table class="table">
  <thead>
    <tr>
      <th>Périphérique</th>
      <th>Montage</th>
      <th>Type</th>
      <th>Usage</th>
      <th>Utilisé</th>
      <th>Libre</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
  <% disks.forEach(function (disk) { %>
    <tr>
      <td><%= disk.name %></td>
      <td><%= disk.mountOn %></td>
      <td></td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= disk.used %>" aria-valuemin="0" aria-valuemax="<%= disk.total %>" style="width: <%= disk.percent %>; min-width: 2em;">
            <%= disk.percent %>
          </div>
        </div>
      </td>
      <td><%= helpers.fileSizeFormat(disk.used) %></td>
      <td><%= helpers.fileSizeFormat(disk.free) %></td>
      <td><%= helpers.fileSizeFormat(disk.total) %></td>
    </tr>
  <% }); %>
  </tbody>
</table>
