<div class="page-header"><h1><%= __("Gestion des ROMs") %> - <%= system.fullname %></h1></div>

<%- include('partials/breadcrumb', { breadCrumb: breadCrumb }); %>

<p><%= __("Nombre total de ROMs :") %> <%= roms.list.length %></p>

<div class="alert alert-warning">
  <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
  <span class="sr-only"><%= __("Attention :") %></span>
  <%= __("Supprimer des ROMs nécessite qu'EmulationStation soit redémarré pour prendre en compte les modifications.") %>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-upload" aria-expanded="false" aria-controls="collapse-upload">
  <%= __("Uploader des ROMs") %>
</button>
<div class="collapse" id="collapse-upload">
  <br />

  <div class="well">
    <p><%= __("Une fois les ROMs uploadées, il faudra recharger la page pour les voir apparaître dans le listing.") %></p>

    <form action="/roms/upload" class="dropzone" enctype="multipart/form-data" id="roms-upload"
      data-drop-here="<%= __('Déposer des fichiers ici pour les uploader.') %>"
      data-server-error="<%= __('Erreur lors de l\'upload.') %>">
      <input type="hidden" name="upload_path" value="<%= currentPath %>" />
    </form>
  </div>
</div>

<br />
<br />

<div class="sticky-alert center-block no-display">
  <div class="alert alert-success" role="alert" data-launch-alert="success">
    <strong><%= __("Et voilà !") %></strong>
    <%= __("Votre jeu devrait s'être lancé !") %>
  </div>
</div>

<div class="sticky-alert center-block no-display">
  <div class="alert alert-danger" role="alert" data-launch-alert="error">
    <strong><%= __("Oups !") %></strong>
    <%= __("Il semble que votre jeu n'ait pas réussi à se lancer.") %>
  </div>
</div>

<div class="sticky-alert center-block no-display">
  <div class="alert alert-success" role="alert" data-delete-alert="success">
    <strong><%= __("Et voilà !") %></strong>
    <%= __("Votre ROM a bien été supprimée !") %>
  </div>
</div>

<div class="sticky-alert center-block no-display">
  <div class="alert alert-danger" role="alert" data-delete-alert="error">
    <strong><%= __("Oups !") %></strong>
    <%= __("Il semble que votre ROM n'ait pas été supprimée.") %>
  </div>
</div>

<% var lastIndex; %>
<% if (undefined !== subDirectories) { %>
  <% subDirectories.forEach(function (item, index) { %>
    <% if (1 === (index + 1) % 4) { %>
<div class="row">
    <% } %>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <a href="<%= basePath %>/<%= item %>">
          <span class="glyphicon glyphicon-folder-open big-glyphicon" aria-hidden="true">
        </a>
      </div>
      <div class="panel-footer"><a href="<%= basePath %>/<%= item %>"><%= item %></a></div>
    </div>
  </div>
    <% if (0 === (index + 1) % 4) { %>
</div>
    <% } %>
  <% lastIndex = index + 1; %>
  <% }); %>
<% } %>
<% if (lastIndex && 0 !== lastIndex % 4) { %>
</div>
<% } %>

<% roms.list.forEach (function (rom, index) { %>
  <% if (1 === (index + 1) % 4) { %>
<div class="row">
  <% } %>
  <div class="col-sm-6 col-md-3" data-row="<%= index %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <img src="<%= rom.image %>" alt="" class="col-md-7 col-lg-9 rom-image" />
          <div class="col-md-5 col-lg-3 center-block">
          <% if (1 == gameLaunchingAvailable) { %>
            <button class="btn btn-success has-spinner" type="submit" aria-label="<%= __('Lancer') %>"
               data-play data-rom="<%= rom.fullname %>" data-system="<%= system.name %>">
              <span class="glyphicon glyphicon-refresh glyphicon-spin hidden" data-toggle-hidden></span>
              <span class="glyphicon glyphicon-play" aria-hidden="true" data-toggle-hidden></span>
            </button>
          <% } %>
            <button class="btn btn-danger" type="submit" aria-label="<%= __('Supprimer') %>"
              data-toggle="modal" data-target="#deleteModal" data-fullname="<%= rom.fullname %>"
              data-filename="<%= rom.filename %>" data-index="<%= index %>">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <button class="btn btn-info" type="submit" aria-label="<%= __('Information') %>"
               data-toggle="modal" data-target="#showInfoModal" data-fullname="<%= rom.fullname %>"
               data-filename="<%= rom.filename %>" data-index="<%= index %>" data-desc="<%= rom.desc %>"
               data-genre="<%= rom.genre %>" data-releasedate="<%= rom.releasedate %>"
               data-players="<%= rom.players %>" data-publisher="<%= rom.publisher %>" data-developer="<%= rom.developer %>">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="panel-footer"><strong><%= rom.fullname %></strong></div>
    </div>
  </div>
  <% if (0 === (index + 1) % 4) { %>
</div>
  <% } %>
<% }); %>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="<%= __('Cliquez pour retourner en haut de la page') %>" data-toggle="tooltip" data-placement="left">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalTitle"><%= __("Attention") %></h4>
      </div>
      <div class="modal-body">
        <p><%- __("Voulez-vous vraiment supprimer %s ?", "<strong data-fullname></strong>") %></p>

        <form method="post" action="/roms/delete" data-delete="form">
          <input type="hidden" name="rom" />
          <input type="hidden" data-index />
          <input type="hidden" name="current_path" value="<%= currentPath %>" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= __("Non") %></button>
        <button type="button" class="btn btn-warning" data-delete="confirm">
          <span class="glyphicon glyphicon-refresh glyphicon-spin hidden" data-toggle-hidden></span>
          <%= __("Oui") %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showInfoModal" tabindex="-1" role="dialog" aria-labelledby="showInfoModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="showInfoModalTitle"><strong data-fullname></strong></h4>
      </div>
      <div class="modal-body">
        <p><%- __("Éditeur : %s","<strong data-publisher></strong>") %></p>
        <p><%- __("Développeur : %s", "<strong data-developer></strong>") %></p>
        <p><%- __("Date de sortie : %s", "<strong data-releasedate></strong>") %></p>
        <p><%- __("Genre : %s", "<strong data-genre></strong>") %></p>
        <p><%- __("Joueurs : %s", "<strong data-players></strong>") %></p>
        <p><%- __("Description : %s", "<strong data-desc></strong>") %></p>
      </div>
    </div>
  </div>
</div>
