<div class="page-header"><h1><%= gt.gettext("Gestion des screenshots") %></h1></div>

<div class="sticky-alert center-block no-display" data-delete-alert="success">
  <div class="alert alert-success" role="alert">
    <strong><%= gt.gettext("Et voilà !") %></strong>
    <%= gt.gettext("Votre screenshot a bien été supprimé !") %>
  </div>
</div>

<div class="sticky-alert center-block no-display" data-delete-alert="error">
  <div class="alert alert-danger" role="alert">
    <strong><%= gt.gettext("Oups !") %></strong>
    <%= gt.gettext("Il semble que votre screenshot n'ait pas été supprimé.") %>
  </div>
</div>

<form method="post" action="/help" data-form-ajax>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gt.gettext("Effectuer une capture d'écran") %></h3>
    </div>
    <div class="panel-body">
      <p><%= gt.gettext("Le bouton ci-dessous vous permet de prendre une capture d'écran de l'affichage actuel de recalbox.") %></p>
      <p><%- screenshotSavePath %></p>

      <p>
        <button type="submit" name="screenshot" value="1" class="btn btn-success">
          <span class="glyphicon glyphicon-refresh glyphicon-spin hidden" data-toggle-hidden></span>
          <%= gt.gettext("Faire une capture") %>
        </button>
      </p>

      <p class="no-display" data-result><%= gt.gettext("Capture d'écran enregistrée :") %> <a data-value target="_blank">Télécharger</a></p>

    <% if (typeof screenshotPath !== 'undefined') { %>
      <p><%= gt.gettext("Capture d'écran enregistrée :") %> <a href="<%= screenshotName %>" target="_blank">Télécharger</a></p>
    <% } %>
    </div>
  </div>
</form>

<div class="row">
<% screenshots.forEach(function (screenshot, index) { %>
  <div class="col-md-3 col-xs-6" data-row="<%= index %>">
    <div class="panel panel-default">
      <div class="panel-body bg-info" data-match-height>
        <div class="pull-left relative text-center">
          <div class=" top-right">
            <button type="button" class="btn btn-danger btn-sm" aria-label="<%= gt.gettext('Supprimer') %>"
              data-toggle="modal" data-target="#deleteScreenshotModal"
              data-name="<%= screenshot %>" data-index="<%= index %>">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button><br />
            <a href="/<%= screenshot %>" target="_blank" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
          </div>
          <img src="/<%= screenshot %>" alt="<%= screenshot %>" class="img-responsive img-thumbnail" />
        </div>
      </div>
    </div>
  </div>
<% }); %>
</div>

<div class="modal fade" id="deleteScreenshotModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalTitle"><%= gt.gettext("Attention") %></h4>
      </div>
      <div class="modal-body">
        <p><%- deleteConfirmation %></p>

        <form method="post" action="/screenshots/delete" data-delete="form">
          <input type="hidden" name="screenshot" />
          <input type="hidden" data-index />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= gt.gettext("Non") %></button>
        <button type="button" class="btn btn-warning" data-delete="confirm">
          <span class="glyphicon glyphicon-refresh glyphicon-spin hidden" data-toggle-hidden></span>
          <%= gt.gettext("Oui") %>
        </button>
      </div>
    </div>
  </div>
</div>
