<h1><%= __("Système") %></h1>

<p class="important"><%= __("Cette page permet de gérer les différents réglages système de recalbox.") %></p>

<form method="post" action="/systems" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Ratio de l'écran") %></h3>
    </div>
    <div class="panel-body">
      <select name="ratio" id="locale" class="selectpicker show-tick form-control" data-select data-live-search="true">
      <% ratio.forEach(function (item) { %>
        <option value="<%= item.key %>"<% if (systems.ratio == item.key) { %> selected="selected"<% } %>>
          <%= item.value %>
        </option>
      <% }); %>
      </select>
    </div>
  </div>
<!--
  Not yet available for writing in the API.

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Set de shaders") %></h3>
    </div>
    <div class="panel-body">
      <div class="bs-callout bs-callout-warning">
        <h4><%= __("Shaders disponibles :") %></h4>
        <ul>
          <li><strong>scanlines</strong> <%= __("active les scanlines sur tous les emulateurs,") %></li>
          <li><strong>retro</strong> <%= __("sélectionne le \"meilleur\" shader pour chaque système, choisi par la communauté. Il vous apportera l'expérience de jeu la plus proche de l'expérience originale,") %></li>
          <li><strong>none</strong> <%= __("ne met aucun shaders.") %></li>
        </ul>
      </div>

      <select name="shaderset" id="shaderset" class="selectpicker show-tick form-control" data-select data-live-search="true">
      <% shaderset.forEach(function (item) { %>
        <option value="<%= item.key %>"<% if (systems.shaderset == item.key) { %> selected="selected"<% } %>>
          <%= item.value %>
        </option>
      <% }); %>
      </select>
    </div>
  </div>
-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Lissage des jeux") %></h3>
    </div>
    <div class="panel-body">
      <input type="hidden" name="smooth" value="0" />
      <input type="checkbox" name="smooth" value="1" data-switch<% if (1 == systems.smooth) { %> checked="checked"<% } %> />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Rembobinage des jeux") %></h3>
    </div>
    <div class="panel-body">
      <p><%= __("L'option rembobinage vous autorise à effectuer des retours dans le temps lors de votre partie.") %></p>

      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
        <span class="sr-only"><%= __("Attention :") %></span>
        <%= __("Cela peut ralentir certains émulateurs (snes, psx) si vous l'activez par défaut.") %>
      </div>

      <input type="hidden" name="rewind" value="0" />
      <input type="checkbox" name="rewind" value="1" data-switch<% if (1 == systems.rewind) { %> checked="checked"<% } %> />
    </div>
  </div>
<!--
  Not yet available for writing in the API.

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Sauvegarde / Chargement automatique") %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= __("Cette option vous permet de créer une sauvegarde automatique de votre jeu quand vous le quittez, puis de la charger à nouveau quand vous le relancerez.") %>
        <%= __("Une fois le jeu lancé et la sauvegarde chargée, si vous souhaitez revenir à l'écran titre du jeu, utilisez la commande spéciale de reset.") %>
      </p>

      <input type="hidden" name="autosave" value="0" />
      <input type="checkbox" name="autosave" value="1" data-switch<% if (1 == systems.autosave) { %> checked="checked"<% } %> />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Pixel perfect") %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= __("Une fois activée, votre écran sera rognée, et vous aure un rendu \"pixel perfect\" dans vos jeux.") %>
      </p>

      <input type="hidden" name="integerscale" value="0" />
      <input type="checkbox" name="integerscale" value="1" data-switch<% if (1 == systems.integerscale) { %> checked="checked"<% } %> />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= __("Retroachievements") %></h3>
    </div>
    <div class="panel-body">
      <p><%- __("RetroAchievements.org (%s) est un site communautaire qui permet de gagner des haut-faits sur mesure dans les jeux d'arcade grâce à l'émulation.", '<a href="http://retroachievements.org/">http://retroachievements.org/</a>') %></p>
      <p><%= __("Les haut-faits sont conçus par et pour la communauté.") %></p>

      <div class="form-group">
        <label for="retroachievements-enabled" class="col-md-4 control-label"><%= __("Activer RetroAchievements") %></label>
        <div class="col-md-6">
          <input type="hidden" name="retroachievements" value="0">
          <input type="checkbox" name="retroachievements" value="1" id="retroachievements-enabled" data-switch<% if (1 == systems.retroachievements) { %> checked="checked"<% } %>>
        </div>
      </div>

      <div class="well">
        <div class="form-group">
          <label for="retroachievements-username" class="col-md-4 control-label"><%= __("Login") %></label>
          <div class="col-md-6">
            <input type="text" name="username" class="form-control" id="retroachievements-username" placeholder="<%= __('Login') %>" value="<%= systems.username %>">
          </div>
        </div>
        <div class="form-group">
          <label for="retroachievements-password" class="col-md-4 control-label"><%= __("Mot de passe") %></label>
          <div class="col-md-6">
            <input type="text" name="password" class="form-control" id="retroachievements-password" placeholder="<%= __('Mot de passe') %>" value="<%= systems.password %>">
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <p>
    <a href="/systems" class="btn btn-danger"><%= __("Annuler") %></a>
    <button type="submit" class="btn btn-success"><%= __("Enregistrer") %></button>
  </p>
</form>
